#!/usr/bin/env xdg-open

# save this as /usr/share/applications/obsidian.desktop

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=/home/danny/O/obsidian-app/Obsidian-0.15.9.AppImage
Name=Obsidian
Comment=Obsidian Notes
Icon=/home/danny/O/obsidian-app/obsidian.png
